.html{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: rgb(141, 204, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    letter-spacing: 0px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height: 100vh;
    overflow-x: hidden;
}
.wrapper{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 40px;
    font-family: 'Courier New', monospace;
    margin: 0;
    text-align: center;
}
h2{
    margin-top: 0;
    padding-top: 10px;
    font-size:35px;
    font-family: Arial, sans-serif
}
h3{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    font-family: Arial, sans-serif;
    margin:0;
    z-index: 999;
    line-height: 1.5;
}
h4{
    font-family: Arial, sans-serif;
    z-index: 9999;
    line-height: 1.5;
    margin: 0;
}
p{
    font-weight: 600;
}
.nav li {
    display: inline-block;
    align-items: center;
    font-size: 14px;
    margin-left: 0px; /* Adjust spacing as needed */   
}
.sidebar li{
    margin-bottom: 60px;
}

.headNav a{
    color: white;
}
.headNav a:visited{
    color:rgb(0, 0, 0)
}
.nav a{
    padding: 24px 15px 24px 15px;
    height:100%;
}

.nav li :hover{
    background-color:rgb(127, 189, 240);
}

#header {
    width: 100%;
    margin: 0;
    padding: 10px 0; /* Optional padding for content inside header */
    box-sizing: border-box;
    background-color: rgb(254, 255, 255);
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    color: white;
    font-family: Verdana, sans-serif;
    justify-content: flex-start;
    box-shadow: -5px 0 5px rgba(0, 0, 0.1);
    position: fixed;
    z-index: 9999999;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    z-index: 11;
    background-color: rgb(141, 204, 255);
    box-shadow: -10px 0 10px rgb(35, 122, 194);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width:100%;
}
.head{

    height: 100vh;
    position: relative;
}
#intro-text{
    transform: translateY(50vh);
    text-align: center;
}

.clouds
{
    position: absolute;    
    top: 40vh;                
    width:100%;                   
    display: flex;                  
    justify-content: center;         
    align-items: center;             
}
#cloud1{
    position: absolute;
    top: 0;                   
    right: 0;                  
    animation: cloud1 2s linear forwards;
}
#cloud2{
    position: absolute;
    top: 0;                   
    left: 0;                  
    animation: cloud2 2s linear forwards;
}
#cloud3{
    position: absolute;
    top: 0;                   
    left: 0;                  
    animation: cloud3 10s linear infinite;
}
#cloud4{
    transform: translateY(65vh);
    position:absolute;
    animation: cloud4 10s linear infinite;
}
@keyframes cloud1{
    0%{
        right: 50%;
        opacity: 1;
    }
    100%
    {
        right: 100%;
        opacity:0;
    }
}
@keyframes cloud2{
    0%{
        left: 50%;
        opacity:1;
    }
    100%
    {
        left: 100%;
        opacity: 0;
    }
}
@keyframes cloud3{
    0%{
        left: 0;
        opacity:0;
    }
    10%{
        opacity:0.5;
    }
    25%{
        opacity: 1;
    }
    100%
    {
        left: 100%;
        opacity: 0;
    }
}
@keyframes cloud4{
    0%{
        right: 0;
        opacity:0;
    }
    10%{
        opacity:0.5;
    }
    25%{
        opacity: 1;
    }
    100%
    {
        right: 100%;
        opacity: 0;
    }
}
.projects{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#project-h1-text{
    padding-left: 40px;
    padding-right: 40px;

}
.project{
    border: 2px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    margin: auto;
    background-color: #f9f9f9; /* Optional: light background for contrast */
    height: 360px;
    width: 280px;
}
.project:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Optional: subtle shadow for a professional look */
    transform: translateY(-2px);
}
.project-description{
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
    padding-bottom: 0;
    margin:none;
}
.learn-button{
    background: rgb(106,161,235);
    background: linear-gradient(90deg, rgba(106,161,235,1) 0%, rgba(141,138,228,1) 48%, rgba(157,63,233,1) 100%);
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top:10px;
}
.learn-button:hover{
    box-shadow: 0 4px 6px rgba(77, 140, 165, 0.5);
}
.banner{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    overflow-y: hidden;
    gap: 20px;
}
#skatelligence-photo{
    padding-top: 20px;
    padding-bottom:20px;
}
#skatelligence-graph{
    padding-bottom:40px;
}
#keyflow-photo{
    padding-top: 10px;
    padding-bottom:0px;
}
#keyflow-device{
    padding-bottom:40px;
}
#keyflow-learn{
    margin-top: 30px
}
#solidworks-photo{
    padding-top:20px;
    padding-bottom: 3px;
}
#solidworks-example{
    padding-bottom: 60px;
}
#solidworks-learn{
    margin-top: 8px;
}
#unity-photo{
    padding-top:10px;
}
#unity-example{
    padding-top:5px;
    padding-bottom: 10px;
}
#unity-learn{
    margin-top: 5px
}
.pad-projects{
    height: 50px;
}

#beach-image{
    margin-left:auto;          /* Align to the right edge */
    display:block;
    z-index: -1;
}
.experiences{

    background-image: url(background\ pattern.png);
    background-color:rgb(110, 188, 252);
    width: 100%;
    margin-top: 12%;
    border: 8px solid rgb(89, 167, 231);
    border-left: 0;
}
.experience{
    padding-left: 10vw;
    text-align: left;
    color:rgb(0, 0, 0);
    padding-right:50px;
    z-index: 999;
    background-color: rgb(186, 217, 243);
    border: 2px solid rgb(89, 167, 231);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}
#experience-title{
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 40px;
    padding-right: 40px;
}
section{
    position: relative;
    width: 100%;
    height: 15vh;
    overflow:hidden;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100px;
    background: url('wave.png');
    background-size: 1000px 100px;
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.5;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.9;
    animation-delay: -5s;
    bottom: 20;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}
.skills{
   margin-top:-100px;
   position: relative;
}
.skill-section{
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    text-align: left;
}
.skill-background{
    background-color: rgb(223, 247, 247);
    border: 2px solid rgb(133, 238, 238);
    padding-top: 20px;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%
}
#blue-fish{
    position: absolute;
    animation: blueFish 10s linear infinite;
    opacity: 0.5; 
    z-index: 1;
}
#yellow-fish{
    position: absolute;
    animation: yellowFish 12s linear 1s infinite;
    opacity:0.5;
    z-index: 1;
}
#skills-header{
    margin:0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 7%;
}
.about{
    padding-top: 12%;
    background-color: rgb(255, 255, 255);
}
.about-me{
    padding-left: 10%;
    padding-right:10%;
    text-align: left;
    padding-bottom: 5%;
    border: 2px solid rgb(192, 248, 248);
    border-radius: 10px; /* Rounded corners */
    padding: 20px; 
    margin: 40px; 
    background-color: rgb(198, 245, 245);
    box-shadow: 0 4px 6px rgba(88, 161, 161, 0.5); 
}
.top-triangle{
    width:0;
    height: 0;
    border-left: 99vw solid transparent;
    border-bottom: 5vw solid rgb(194, 240, 252);
}
.bottom-triangle{
    width:0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 5vw solid rgb(194, 240, 252);
}
.about-background{
    background-color: rgb(194, 240, 252);
    padding-top: 30px;
}
.about-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}
.connect
{
    background-color: rgb(228, 216, 147);
}
#varsity-photo{
    animation: imageBob 5s infinite;
    display: block;
    margin: auto;
}
@keyframes blueFish
{
    0%{
       left:0%;
       bottom: 0%;
    }
    100%{
        left: 100%;
        bottom: 40%
    }
}
@keyframes yellowFish
{
    0%{
       right:0%;
       bottom: 0%;
    }
    100%{
        right: 100%;
        bottom: 20%
    }
}
@keyframes imageBob{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform:translateY(0px);
    }
}
.name-link{ /*name with linked in link beside it*/
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.name-linkedin{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#connect-text{
    padding-bottom: 7%;
}
#linkedin-logo
{
    transform: translateY(-6px);
}
#sand1{
    transform:translateX(20px);
}
@media(max-width:1300px)
{
    h3{
        padding-left: 50px;
        padding-right:50px;
    }
}  
@media (max-width: 1000px)
{
    h3{
        padding-left: 20px;
        padding-right:20px;
    }
    #beach-image{
        max-width: 500px;
    }
}
@media (max-width: 900px)
{

    h3{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 800px)
{
    .experience{
        padding-left:5vw;
    }
    .about-flex{
        display: block;
    }
}

@media (max-width: 550px)
{

    h3{
        padding-left: 10px;
        padding-right: 10px;
    }
    #beach-image{
        max-width: 300px;
        float: none; /* Prevent any floating behavior */
        clear: both; /* Clear any floats from earlier elements */
    }
    #resume-name{
        display: block;
    }
    .name-link{
        display:block;
    }
    .block-wrapper{
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 861px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

@media (min-width: 862px){
    .menu-button{
        display: none;
    }
}

.menu-button{
    height: 100%;
    transform: translateY(-4px);
}